In [1]:
#Task_1

name1 = "Ayesha"
name2 = "Ali"
print("My name is {} {}.".format(name1, name2))

My name is Ayesha Ali

In [8]:
#Task_2
'BANANA'.isupper()
'banana'.isupper()
'1 2 3'.split()

['1', '2', '3']

In [9]:
#Task_3
month = 8
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

num_days = days_in_month[month - 1]
print(num_days)

31

In [15]:
#Task_4

eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003', 'March 29, 2006', 'August 1, 2008', 'July 22, 2009', 'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']

recent_dates = eclipse_dates[-3:]
print(recent_dates)

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [16]:
#Task_5

students_data = {
    'student1': {
        'name': 'Ayesha',
        'age': 20,
        'grade': 'A'
    },
    'student2': {
        'name': 'Shiza',
        'age': 22,
        'grade': 'B+'
    },
    'student3': {
        'name': 'Kubra',
        'age': 21,
        'grade': 'A-'
    }
}

# Accessing student2's name
student2_name = students_data['student2']['name']
print(student2_name)  # Output: Shiza

# Accessing student3's age
student3_age = students_data['student3']['age']
print(student3_age)  # Output: 21

Shiza
21